
.p-carousel {
    margin-bottom: 70px;
}

.p-card {
    margin: 20px;
    padding-bottom: 15px;
    width: 300px;
}

.p-card-image {
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 3px 1px white;
}

.p-card-info {
    margin-top: 10px;
    min-height: 50px;
    margin-bottom: 20px;
}

.p-card-title {
    font-size: 24px;
    margin: 0px;
}

.p-card-sub-title {
    font-size: 16px;
    margin: 0px;
}

.p-container {
    margin-top: 20px;
}

.p-repo-container {
    margin-bottom: 50px;
}

.p-loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-form-container {
    margin: auto;
    margin-bottom: 100px;
    width: 60%;
}

.c-success-msg {
    color: #57A773;
    padding: 10px 15px;
}

.c-error-msg {
    color: #EE6352;
    padding: 10px 15px;
}

.f-social-container {
    padding: 15px;
    bottom: 0;
}

a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
}

a.social:hover {
    transform: translateY(-2px);
}

a.github {
    color: #24292e;
}

a.instagram {
    color: #E1306C;
}

.footer {
    background: #eee;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.credits {
    padding: 20px;
}